/* Content.css */

.settingBody {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    color: #727272;
}

:root {
    --input-color: #040608;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
    /* --span-color: White; */

    --input-border-focus: #275efe;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;

    --group-color-focus: var(--input-color);
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
}

.formfield {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 0px 6px 6px 0px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}

.formfield::placeholder {
    color: var(--input-placeholder);
}

.formfield:focus {
    outline: none;

    border-color: var(--input-border-focus);
}

.formgroup {
    width: 100%;
    display: flex;
    align-items: center;

}

.formgroup>span,
.formgroup .form-field {
    white-space: nowrap;
    display: block;
}

.formgroup>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.formgroup>span:first-child {
    border-radius: 6px 0 0 6px;
}

.formgroup>span:last-child {
    border-radius: 0 6px 6px 0;
}

.formgroup>span:not(:first-child) {
    margin-left: -1px;
}

.formgroup .form-field {
    position: relative;
    z-index: 1;
    flex: 1;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.formgroup:focus-within>span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
    color: white;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

.bodyContent {
    min-height: 100vh;
    font-family: "Mukta Malar", Arial;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background: #f5f9ff;
}

.formgroup {
    /* max-width: 360px; */

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.btnActive {
    position: absolute;
    right: 0;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btnDisabled {
    position: absolute;
    right: 0;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: not-allowed;
}

.setting {
    display: flex;
    /* color: red; */
    justify-content: center;
    color: #0097D1;
    font-size: 30px;
    margin-top: 30px;
    /* font-weight: bold; */
}

.buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 100px;
    /* display: flex;
    justify-content: flex-end;
    margin-right: 200px; */
}

.saveSettingsButton{
    position: absolute;
    right: 0;
    margin-right: 400px;
    width: 150px;
    background-color: #0097D1;
}

.startServerButton{
    position: absolute;
    right: 0;
    margin-right: 200px;
    width: 150px;
    background-color: #00d1c7;
}

.SyncDataButton{
    position: absolute;
    right: 0;
    width: 150px;
    background-color: #9e4659;
}

.text {
    margin: 5px 0px;
}


/*  Toggle Switch  */

.toggleSwitch span span {
    display: none;
}

@media only screen {
    .toggleSwitch {
        display: inline-block;
        height: 18px;
        position: relative;
        overflow: visible;
        padding: 0;
        margin-left: 50px;
        cursor: pointer;
        width: 40px
    }

    .toggleSwitch * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .toggleSwitch label,
    .toggleSwitch>span {
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
    }

    .toggleSwitch input:focus~a,
    .toggleSwitch input:focus+label {
        outline: none;
    }

    .toggleSwitch label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
    }

    .toggleSwitch input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }

    .toggleSwitch>span {
        position: absolute;
        left: -50px;
        width: 100%;
        margin: 0;
        padding-right: 50px;
        text-align: left;
        white-space: nowrap;
    }

    .toggleSwitch>span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 50px;
        text-align: left;
        font-size: 0.9em;
        width: 100%;
        left: 15%;
        top: -1px;
        opacity: 0;
    }

    .toggleSwitch a {
        position: absolute;
        right: 50%;
        z-index: 4;
        display: block;
        height: 100%;
        padding: 0;
        left: 2px;
        width: 18px;
        background-color: #fff;
        border: 1px solid #CCC;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .toggleSwitch>span span:first-of-type {
        color: #ccc;
        opacity: 1;
        left: 45%;
    }

    .toggleSwitch>span:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50px;
        top: -2px;
        background-color: #fafafa;
        border: 1px solid #ccc;
        border-radius: 30px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .toggleSwitch input:checked~a {
        border-color: #fff;
        left: 100%;
        margin-left: -8px;
    }

    .toggleSwitch input:checked~span:before {
        border-color: #0097D1;
        box-shadow: inset 0 0 0 30px #0097D1;
    }

    .toggleSwitch input:checked~span span:first-of-type {
        opacity: 0;
    }

    .toggleSwitch input:checked~span span:last-of-type {
        opacity: 1;
        color: #fff;
    }

    /* Switch Sizes */
    .toggleSwitch.large {
        width: 60px;
        height: 27px;
    }

    .toggleSwitch.large a {
        width: 27px;
    }

    .toggleSwitch.large>span {
        height: 29px;
        line-height: 28px;
    }

    .toggleSwitch.large input:checked~a {
        left: 41px;
    }

    .toggleSwitch.large>span span {
        font-size: 1.1em;
    }

    .toggleSwitch.large>span span:first-of-type {
        left: 50%;
    }

    .toggleSwitch.xlarge {
        width: 80px;
        height: 36px;
    }

    .toggleSwitch.xlarge a {
        width: 36px;
    }

    .toggleSwitch.xlarge>span {
        height: 38px;
        line-height: 37px;
    }

    .toggleSwitch.xlarge input:checked~a {
        left: 52px;
    }

    .toggleSwitch.xlarge>span span {
        font-size: 1.4em;
    }

    .toggleSwitch.xlarge>span span:first-of-type {
        left: 50%;
    }
}
.server{
    padding: 10px;
    padding-bottom: 20px;
}

.schedule{
    padding: 10px;
    padding-bottom: 20px;

}

.database{
    padding: 10px;
    padding-bottom: 20px;

}

/* .inputGroup{
    display: flex;
    flex-direction: column;
} */

.ampm {
    margin: 5px;
    padding: 6px 6px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.ampm:focus {
    border-color: #007bff;
    outline: none;
}

.ampm option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}
