/* Modal overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

/* Dialog box style */
.dialog {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  padding: 30px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  animation: slideUp 0.3s ease-out;
  z-index: 1050; /* Ensure it's above the overlay */
}

/* Message text */
.message {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}

/* Button style */
.button {
  padding: 12px 24px;
  width: 100%;
  max-width: 300px; /* Make button more responsive */
  background-color: #21b313;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2ab300;
}

/* Smooth fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide-up animation for the dialog */
@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Modal Confirm - General Styles */
.modalConfirm {
  color: #636363;
  width: 325px;
  font-size: 14px;
}

.modalConfirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modalConfirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modalConfirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modalConfirm .form-control,
.modalConfirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modalConfirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modalConfirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modalConfirm .iconBox {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modalConfirm .iconBox i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modalConfirm .modal-dialog {
  margin-top: 80px;
}

.modalConfirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modalConfirm .btn:hover,
.modalConfirm .btn:focus {
  background: #6fb32b;
  outline: none;
}

.triggerBtn {
  display: inline-block;
  margin: 100px auto;
}
